# Xcode
## Build generated
# build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.bcsymbolmap

# OS-specific files
.DS_Store

# AppCode
.idea/

# Swift Package Manager
# Packages/
.build/

# CocoaPods
Pods/
*.xcworkspace/

# Carthage
Carthage/Build/Mac
Carthage/Build/tvOS
Carthage/Build/watchOS
Carthage/Checkouts

#vi
*.swp

